@import '../_fonts'

.carwashes__section.carwashes__start
  min-height: 100vh
  min-width: 100%
  background-image: url("../pics/section.start.back.jpg")
  background-size: cover
  display: table

  .carwashes__container
    display: table-cell
    text-align: center
    vertical-align: middle

    color: white
    font-family: $carwashes__f_opens
    font-weight: 300

    .carwashes__text
      display: inline-block

      .carwashes__first-line
        font-size: 26px

      .carwashes__second-line
        font-weight: 600
        font-size: 56px
        text-transform: uppercase

      .carwashes__third-line
        font-size: 18px
        margin-top: 10px

    .carwashes__arrow
      position: absolute
      left: 50%
      transform: translateX(-50%)
      bottom: 3%

    .carwashes__arrow:hover
      opacity: 0.5