@import '../_fonts'

.section.business

  .container

    .block
      padding: 100px 0
      text-align: left

      .text
        display: inline-block
        vertical-align: top

      .left
        width: 300px
        font-family: $f_opens
        font-weight: 300
        margin-right: 200px

        .text-left.left-1
          font-size: 16px
          margin-left: 5px

        .text-left.left-2
          margin-top: 10px
          font-size: 63.46px
          line-height: 69.01px
          text-transform: uppercase

        .dash
          margin-top: 25px
          height: 3px
          width: 130px
          background-color: red

      .right
        width: 380px
        margin-top: 60px

        p
          font-family: $f_opens
          font-weight: 300
          font-size: 16px
          margin-bottom: 10px
          line-height: 26px