@import '../_fonts'

.section.slideshow
  background-color: white
  min-height: 100vh
  width: 100%

  .container
    height: 100vh
    color: black
    text-align: left

    .block.title
      position: absolute
      left: 0%
      top: 15%
      width: 300px

      opacity: 0.7
      font-family: $f_helvetica
      font-weight: 300

      text-transform: uppercase
      font-size: 35.1px
      line-height: 50.71px


    .block.info
      position: absolute
      left: 0%
      top: 35%
      width: 260px

      font-family: $f_helvetica
      font-size: 16px
      line-height: 26px

      .caption
        font-weight: 600

      .text
        margin-top: 10px
        opacity: 0.6
        font-weight: 300

      a.link
        display: block

        margin-top: 10px
        color: #52b7f7
        font-weight: 600