@import '../_fonts'

.section.new_level
  background-color: #EEF3ED

  .container
    text-align: left

    .block-text
      padding: 90px 0
      width: 690px

      opacity: 0.7

      .text-item
        font-family: $f_helvetica
        font-weight: 300

      .item-1
        font-size: 35.1px
        line-height: 50.71px
        margin-bottom: 20px

      .item-2
        font-size: 16px
        line-height: 26px
        text-align: justify

    .cleaner-pic
      position: absolute
      bottom: 0
      right: -10%

