@import '../_fonts'

.section.four_programs

  .container
    max-width: 1100px

    .center-cont
      //border: 1px dotted red
      padding-top: 100px
      padding-bottom: 80px


      .block-left
        text-align: left
        display: inline-block
        margin-right: 100px
        //border: 1px dotted blue
        vertical-align: top

        .block-left-1
          font-family: $f_opens
          font-weight: 600
          font-size: 136.46px
          color: #e40000
          display: inline-block
          vertical-align: middle
          margin-right: 30px

        .block-left-2
          display: inline-block
          font-family: $f_helvetica
          font-weight: 300
          vertical-align: middle

          .block-left-2-1
            text-transform: uppercase
            font-size: 35.1px
            margin-top: 10px
            opacity: 0.9

          .block-left-2-2
            font-size: 16px
            margin-top: 10px
            opacity: 0.7


      .block-right
        text-align: left
        display: inline-block
        width: 600px
        font-family: $f_helvetica
        font-weight: 300

        opacity: 0.7

        .block-right-1
          font-size: 16px
          line-height: 26px
          strong
            font-weight: 600

        .block-right-2
          background-image: url("../pics/section.four_programs.drop.svg")
          background-repeat: no-repeat
          background-position: 0 5px
          margin-top: 50px
          width: 360px
          padding-left: 60px
          font-size: 14px
          line-height: 21px