@import '../_fonts'

.section.business

  .container
    padding-top: 100px
    padding-bottom: 100px

    .block
      text-align: left
      padding: 0
      margin: 0
      font-size: 0

      .text
        display: inline-block
        vertical-align: top
        margin: 0

      .left
        width: 50%
        font-family: $f_opens
        font-weight: 300

        .text-left.left-1
          font-size: 16px
          margin-left: 5px

        .text-left.left-2
          margin-top: 10px
          font-size: 63.46px
          line-height: 69.01px
          text-transform: uppercase

        .dash
          margin-top: 25px
          height: 3px
          width: 130px
          background-color: red

      .right
        margin-top: 60px
        padding-right: 5%
        width: 50%

        p
          font-family: $f_opens
          font-weight: 300
          font-size: 16px
          margin-bottom: 10px
          line-height: 26px