@import '../_fonts'

.section.main_car_animation
  background-color: #97e5ec
  height: 100vh
  min-width: 100%

  .container
    text-align: left
    height: 100vh
    min-height: 400px

    .block-program
      position: absolute
      top: 100px
      left: 0
      width: 300px

      opacity: 0.7
      font-family: $f_helvetica
      font-weight: 300
      font-size: 35.1px
      line-height: 50.71px
      text-transform: uppercase



    .block-top
      position: absolute
      top: 100px
      left: 45%
      width: 400px

      font-family: $f_helvetica
      font-weight: 300
      font-size: 16px
      line-height: 26px

      .top-1
        .button
          display: inline-block
          margin-right: 10px
          padding: 15px 30px

          border: 2px solid #3aa8b3
          border-radius: 100px

          cursor: pointer


        .button:last-child
          margin-right: 0

        .button:hover
          color: white
          background-color: #3aa8b3


    .content
      position: relative
      top: 60%
      left: 50%
      width: 630px
      height: 300px

      transform: translateX(-50%) translateY(-50%)


      .cleaner
        position: absolute
        bottom: 35px
        right: 75px
        width: 140px
        height: 300px

        background-image: url("../pics/section.main_car_animation.cleaner.png")
        background-repeat: no-repeat

      .car
        position: absolute
        bottom: 0
        width: 630px
        height: 210px

        background-image: url("../pics/section.main_car_animation.car.png")
        background-repeat: no-repeat

    .caption
      position: absolute
      top: 50%
      left: -25%
      color: white
      font-family: $f_helvetica
      font-weight: 600
      font-size: 150px
      text-transform: uppercase
      transform: translateY(-50%)



    .block-bottom
      position: absolute
      bottom: 5%
      left: 45%
      width: 550px
      font-family: $f_helvetica
      padding-top: 70px
      background-image: url("../pics/section.main_car_animation.bottom.1.svg")
      background-repeat: no-repeat
      background-position: 2px 0

      .title
        font-weight: 600
        font-size: 16px
        line-height: 22px
        opacity: 0.7
        margin-bottom: 10px

      .text
        font-weight: 300
        font-size: 14px
        line-height: 21px
        opacity: 0.4

