@import '../_fonts'

.section.four_programs

  .container
    padding-right: -100px
    padding-top: 100px
    padding-bottom: 80px

    text-align: left

    .block
      text-align: left
      display: inline-block


    .block.left
      margin-right: 120px
      width: 340px
      vertical-align: top

      .left
        display: inline-block
        vertical-align: bottom

      .left-1
        margin-right: 25px

        color: #e40000
        font-family: $f_opens
        font-weight: 600
        font-size: 136.46px
        line-height: 110px

      .left-2
        margin-bottom: 10px

        font-family: $f_helvetica
        font-weight: 300

        .left-2-1
          opacity: 0.9
          text-transform: uppercase
          font-size: 35.1px

        .left-2-2
          margin-top: 10px

          opacity: 0.7
          font-size: 16px


    .block.right
      margin-top: 30px
      width: 600px

      opacity: 0.7
      font-family: $f_helvetica
      font-weight: 300


      .right-1
        font-size: 16px
        line-height: 26px
        strong
          font-weight: 600

      .right-2
        margin-top: 50px
        padding-left: 60px
        width: 360px

        font-size: 14px
        line-height: 21px

        background-image: url("../pics/section.four_programs.drop.svg")
        background-repeat: no-repeat
        background-position: 0 5px