doctype html
head
  //meta(name="viewport" content="width=device-width, initial-scale=1.0")

  meta(charset="utf-8")

  link(rel="stylesheet" href="stylesheets/app.css")

  script(src="javascripts/vendor.js")
  script(src="javascripts/app.js")
  //script(src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.2/plugins/debug.addIndicators.min.js")

  script.
    require('initialize');



body
  //.carwashes__section.carwashes__start#carwashes__section-start
    .carwashes__container
      .carwashes__text
        .carwashes__first-line оборудование класса
        .carwashes__second-line premium
        .carwashes__third-line для автомоек самообслуживания
      a.carwashes__arrow.smoothScroll(href="#carwashes__section-business")
        img(src="../pics/section.start.arrow.svg")

  .carwashes__section.carwashes__business#carwashes__section-business
    .carwashes__container
      .carwashes__block
        .carwashes__text.carwashes__left
          .carwashes__text-left.carwashes__left-1 Мы не только <br> производим оборудование
          .carwashes__text-left.carwashes__left-2 Мы создаем бизнес
          .carwashes__dash
        .carwashes__text.carwashes__right
          p Мы убеждены, что оборудование <br >для автомойки самообслуживания формирует бизнес в целом. Невозможно построить высококлассную автомойку самообслуживания, не уделив внимание самой услуге. Услуге во всех ее проявлениях.
          p Высококлассная автомойка самообслуживания — это не то место, где можно за плату воспользоваться простым аппаратом высокого давления и пылесосом.

  .carwashes__section.carwashes__new_level
    .carwashes__container
      .carwashes__block-text
        .carwashes__text-item.carwashes__item-1 Совершенно новый уровень <br> бизнеса автомоечного самообслуживания
        .carwashes__text-item.carwashes__item-2 Цивилизованный, удобный и красивый. Мы производим премиальный продукт в своем классе, создаем комфорт и удобство клиенту. Клиенту, которому всегда будет приятно, невероятно просто, быстро и недорого ухаживать за своим автомобилем.
    img.carwashes__cleaner-pic(src="../pics/section.new_level.cleaner.png")

  .carwashes__section.carwashes__four_programs
    .carwashes__container
      .carwashes__blocks
        .carwashes__block.carwashes__left
          .carwashes__left.carwashes__left-1 4
          .carwashes__left.carwashes__left-2
            .carwashes__left-2-1 программы
            .carwashes__left-2-2 и ничего лишнего

        .carwashes__block.carwashes__right
          .carwashes__right-1 С самого начала компанию MagicClean вдохновляло желания взять невероятно популярные технологии, жидкостную и пенную, и объединить их в рамках одного оборудования. Мы задумали, разработали и создали линейку оборудования <strong>MagicClean CARWASH как абсолютно уникальное решение</strong>, давая возможность инвестору охватить весь рынок и удовлетворить спрос всех клиентов.
          .carwashes__right-2
            p Технология на наших мойках бесконтактная. Но мы сделали это по-особенному.
            p По-особенному — это означает очень удобно, красиво, быстро и экономно. А если экономно, то это означает то, что люди будут чаще пользоваться такой услугой, ведь автомобили пачкаются всегда.

  .carwashes__section.carwashes__main_car_animation#carwashes__car-screen
    .carwashes__caption.carwashes__caption_1 Мойка
    .carwashes__caption.carwashes__caption_2 Ополаскивание
    .carwashes__caption.carwashes__caption_3 Горячий&nbspвоск
    .carwashes__caption.carwashes__caption_4 Ополаскивание
      .carwashes__comment Деминерализованной водой

    .carwashes__container
      .carwashes__program-cont
        .carwashes__program.carwashes__program_1.carwashes__car-element-passive.carwashes__car-element-active Первая программа
        .carwashes__program.carwashes__program_2.carwashes__car-element-passive Вторая программа
        .carwashes__program.carwashes__program_3.carwashes__car-element-passive Третья программа
        .carwashes__program.carwashes__program_4.carwashes__car-element-passive.carwashes__car-element-passive-r Четвертая программа

      .carwashes__info-cont
        .carwashes__info.carwashes__info_2.carwashes__car-element-passive
          img(src="../pics/section.main_car_animation.meter.svg")
          p Максимальное давление
          p 150 бар

        .carwashes__info.carwashes__info_3.carwashes__car-element-passive
          p Клиент наносит горячий полимерный воск <strong>MagicWax</strong>. В умягченную воду, подогретую до 40° С, при помощи точной системы дозации DigitalBatching дозируется полиморный воск и подается на пистолет под давлением до 150 бар.

        .carwashes__info.carwashes__info_4.carwashes__car-element-passive.carwashes__car-element-passive-r
          p Используется вода, очищенная от солей и минералов. Очищение происходит в процессе обратного осмоса, что позволяет получить воду практически без примесей.
          p И соответственно, такая вода не будет оставлять подтеков и разводов на поверхности автомобиля.

        .carwashes__info.carwashes__info_1.carwashes__car-element-passive.carwashes__car-element-active
          p На этой программе клиент вправе выбрать, каким способом вымыть автомобиль.
          .carwashes__button.carwashes__btn1 Активная пена
          .carwashes__button.carwashes__btn2 Активный шампунь


      .carwashes__content-container
        .carwashes__content.carwashes__cleaner
        .carwashes__content.carwashes__round.carwashes__round-1.carwashes__car-passive.carwashes__car-active
        .carwashes__content.carwashes__round.carwashes__round-2
        .carwashes__content.carwashes__round.carwashes__round-3
        .carwashes__content.carwashes__round.carwashes__round-4
        .carwashes__content.carwashes__car-shadow
        .carwashes__content.carwashes__car.carwashes__car-3.carwashes__car-active
        .carwashes__content.carwashes__car.carwashes__car-4.carwashes__car-passive
        .carwashes__content.carwashes__car.carwashes__car-2.carwashes__car-passive
        .carwashes__content.carwashes__car.carwashes__car-1.carwashes__car-passive.carwashes__car-active

      .carwashes__info-bottom-cont
        .carwashes__bottom-left-cont
          .carwashes__bottom-left.carwashes__car-element-passive.carwashes__car-element-passive-r
            .carwashes__text Опционально 4-я программа может использовать горячую деминерализованную воду.

        .carwashes__bottom-right-cont
          .carwashes__bottom-right.carwashes__bottom-right_1_item.carwashes__bottom-right_1_1.carwashes__car-element-passive
            img(src="../pics/section.main_car_animation.bottom.1.svg" height="70")
            .carwashes__title MagicActiveFoаm
            .carwashes__text Благодаря своей густой формуле, словно взбитые сливки, пена равномерно ложится на всю поверхность автомобиля, превосходно отмывая все загрязнения, в том числе дорожную масляную пленку и следы от насекомых.

          .carwashes__bottom-right.carwashes__bottom-right_1_item.carwashes__bottom-right_1_2.carwashes__car-element-passive
            img(src="../pics/section.main_car_animation.bottom.1.svg" height="70")
            .carwashes__title MagicActiveShampoo
            .carwashes__text А это офигенный продающий текст про шампунь.

          .carwashes__bottom-right.carwashes__bottom-right_2.carwashes__car-element-passive
            img(src="../pics/section.main_car_animation.temp.svg")
            .carwashes__text В холодный период эксплуатации интеллектуальная система InVision автоматически переключает подачу воды на теплую, таким образом предвосхищая ожидание клиента.

          .carwashes__bottom-right.carwashes__bottom-right_3.carwashes__car-element-passive
            img(src="../pics/section.main_car_animation.sparks.svg")
            .carwashes__text Лакокрасочной поверхности автомобиля придается дополнительный блеск, а капли воды стекают с кузова. Также при следующей мойке автомобиль гораздо легче отмыть от загрязнений.

          .carwashes__bottom-right.carwashes__bottom-right_4.carwashes__car-element-passive.carwashes__car-element-passive-r
            img(src="../pics/section.main_car_animation.fan.svg")
            .carwashes__text Для получения безупречного эффекта от мойки в целом, система <strong>DigitalBathing</strong> добавляет в деминерализованную воду немного осущающего раствора.

    .carwashes__ipad-scroll
      img.carwashes__scroll-btn-prev.carwashes__scroll-btn.carwashes__scroll-btn-inactive(src='../pics/section.slideshow.arrow.svg')
      img.carwashes__scroll-btn-next.carwashes__scroll-btn(src='../pics/section.slideshow.arrow.svg')


  .carwashes__section.carwashes__pause
    .carwashes__container
      .carwashes__center-cont
        .carwashes__block.carwashes__left
          .carwashes__left-1
            p Одним из преимуществ нашей технологии мойки является клавиша
          .carwashes__left-2 Стоп / пауза
          .carwashes__button
            img(src="../pics/section.pause.btn.png")

        .carwashes__block.carwashes__right
          .carwashes__right-1
            p Она позволяет клиенту ожидать реакции «Активной пены» на загрязнения, не теряя своих денежных средств.
            p Также это удобно, если пользователь забыл вытащить из автомобиля коврики и решил это сделать в процессе мытья. Такая приятная возможность привлекает больше клиентов.
          .carwashes__right-2
            p Клавишей можно пользоваться как в сервисном режиме мойки, так и при аварийном отключении процесса мытья.




  .carwashes__section.carwashes__pults
    .carwashes__container
      .carwashes__blocks
        .carwashes__block.carwashes__main
          .carwashes__main-1 Пульты <br> управления мойкой
          .carwashes__main-2 Наши панели управления обладают привлекательным внешним видом и разнообразием функциональных возможностей. Понятный интерфейс по достоинсту оценили все пользователи автомоек MagicClean. Мы учли тот факт, что панели служат некой гранью между пользователем и всей системой оборудования, и уделили их созданию немало времени.

        .carwashes__block.carwashes__parts
          table.carwashes__parts
            tr
              td.carwashes__part-led
                .carwashes__caption LED-подсветка
                p Обладает высокой яркостью
              td.carwashes__part-head
                .carwashes__caption Брендированная шапка
                p в цвет стиля фриза конструкции
            tr
              td.carwashes__part-keys
                .carwashes__caption Интерактивные клавиши
                p С пыле- и влагозащитой
              td.carwashes__part-pause
                .carwashes__caption Кнопка «Стоп / Пауза»
                p для более удобного использования
            tr
              td.carwashes__part-display
                .carwashes__caption Настраиваемый дисплей
                p Отображение времени или денег
              td.carwashes__part-case
                .carwashes__caption Вандалоустойчивый корпус
                p из нержавеющей стали
            tr
              td.carwashes__part-pay
                .carwashes__caption Удобная система оплаты
                p Купюры, монеты, жетоны
              td.carwashes__part-heat
                .carwashes__caption Система подогрева
                p пультов управления

    .carwashes__block.carwashes__cleaner
      img.carwashes__img_base(src="../pics/section.pults.base.png")
      img.carwashes__img_part.carwashes__img_part_0(src="../pics/section.pults.led.png")
      img.carwashes__img_part.carwashes__img_part_1(src="../pics/section.pults.head.png")
      img.carwashes__img_part.carwashes__img_part_2(src="../pics/section.pults.keys.png")
      img.carwashes__img_part.carwashes__img_part_3(src="../pics/section.pults.pause.png")
      img.carwashes__img_part.carwashes__img_part_4(src="../pics/section.pults.display.png")
      img.carwashes__img_part.carwashes__img_part_5(src="../pics/section.pults.case.png")
      img.carwashes__img_part.carwashes__img_part_6(src="../pics/section.pults.pay.png")
      img.carwashes__img_part.carwashes__img_part_7(src="../pics/section.pults.heat.png")


  .carwashes__section.carwashes__slideshow#carwashes__slideshow
    .carwashes__container
      .carwashes__block.carwashes__pinned
        .carwashes__title Наши усовершенствованные технологии

        .carwashes__info
          .carwashes__caption Интеллектуальная система управления и контроля InVision
          .carwashes__text Партисипативное планирование оправдывает пул лояльных изданий.
          a.carwashes__link Подробнее

      img.carwashes__pinned(src="../pics/section.slideshow.center.png")

    .carwashes__block.carwashes__show
      .carwashes__circle-ext
        .carwashes__circle-int
          img.carwashes__lens(src="../pics/section.slideshow.lens.svg")
          .carwashes__slider
            .carwashes__pic.carwashes__pic-1
            .carwashes__pic.carwashes__pic-2
            .carwashes__pic.carwashes__pic-3
            .carwashes__pic.carwashes__pic-4
            .carwashes__pic.carwashes__pic-5
            .carwashes__pic.carwashes__pic-6
        img.carwashes__prev.carwashes__btn(src='../pics/section.slideshow.arrow.svg')
        img.carwashes__next.carwashes__btn(src='../pics/section.slideshow.arrow.svg')



  .carwashes__section.carwashes__video#carwashes__after-show
    .carwashes__container
      .carwashes__video
        iframe(src="https://www.youtube.com/embed/dQw4w9WgXcQ" frameborder="0" allowfullscreen)


  .carwashes__section.carwashes__request
    .carwashes__container
      .carwashes__block.carwashes__main
        h2 Оборудование класса Premium
        p Вы можете оставить заявку на оборудование MagicClean Carwash или связаться с нами другим удобным для вас способом
        .carwashes__button.carwashes__btn1 Заказать
        .carwashes__button.carwashes__btn2 Посмотреть контакты

      .carwashes__block.carwashes__menu
        a.carwashes__item.carwashes__item_1
          img(src="../pics/section.request.horse.svg")
          img.red(src="../pics/section.request.horse_red.svg")
          p Бизнес-стратегия
        a.carwashes__item.carwashes__item_2
          img(src="../pics/section.request.tool.svg")
          img.red(src="../pics/section.request.tool_red.svg")
          p Этап строительства
        a.carwashes__item.carwashes__item_3
          img(src="../pics/section.request.set.svg")
          img.red(src="../pics/section.request.set_red.svg")
          p Комплект поставки


  //.carwashes__section.carwashes__bottom_menu
    .carwashes__menu
      .carwashes__item
        p Аксессуары
      .carwashes__item
        p Конструкции
      .carwashes__item
        p Химия


  //.carwashes__section.carwashes__footer
    .carwashes__element.carwashes__logo
      img(src="../pics/section.footer.logo.png")
    .carwashes__element.carwashes__contact
      .carwashes__city Ростов-на-Дону
      .carwashes__phone +7 (863) 226 47 04
    .carwashes__element.carwashes__contact
      .carwashes__city Москва
      .carwashes__phone +7 (495) 317 12 91
    .carwashes__element.carwashes__btn.carwashes__catalog Скачать каталог
    .carwashes__element.carwashes__social
      a.carwashes__item.carwashes__fb(href="http://facebook.com")
        img(src="../pics/section.footer.social.fb.svg")
      a.carwashes__item.carwashes__vk(href="http://vk.com")
        img(src="../pics/section.footer.social.vk.svg")
      a.carwashes__item.carwashes__yt(href="http://youtube.com")
        img(src="../pics/section.footer.social.yt.svg")

