doctype html
head
  meta(name="viewport" content="width=device-width")

  link(rel="stylesheet" href="stylesheets/app.css")

  script(src="javascripts/vendor.js")
  script(src="javascripts/app.js")

  script.
    require('initialize');

body
  .section.start
    .container
      .text
        .first-line оборудование класса
        .second-line premium
        .third-line для автомоек самообслуживания
      .arrow

  .section.business
    .container
      .second-left
        .first-block Мы не только <br> производим оборудование
        .second-block Мы создаем бизнес
        .dash
      .second-right
        p Мы убеждены, что оборудование для автомойки самообслуживания формирует бизнес в целом. Невозможно построить высококлассную автомойку самообслуживания, не уделив внимание самой услуге. Услуге во всех ее проявлениях
        p Высококлассная автомойка самообслуживания — это не то место, где можно за плату воспользоваться простым аппаратом высокого давления и пылесосом.

  .section.new_level
    .container
      .text-block
        .block-1 Совершенно новый уровень <br> бизнеса автомоечного обслуживания
        .block-2 Цивилизованный, удобный и красивый. Мы производим премиальный продукт в своем классе, создаем комфорт и удобство клиенту. Клиенту, которому всегда будет приятно, неверроятно просто, быстро и недорого ухаживать зо своим автомобилем.
