doctype html
head
  meta(name="viewport" content="width=device-width")

  link(rel="stylesheet" href="stylesheets/app.css")

  script(src="javascripts/vendor.js")
  script(src="javascripts/app.js")
  script(src="http://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.2/plugins/debug.addIndicators.min.js")

  script.
    require('initialize');

body
  .section.start
    .container
      .logo
        img(src="../pics/section.start.logo.png")

      .menu
        ul.part
          li
            a(href="#start") Автомойки
          li
            a(href="#start") Конструкции
          li
            a(href="#start") Аксессуары
          li
            a(href="#start") Автоматы
          li
            a(href="#start") Химия
          li
            a(href="#start") Сервис
        ul.part
          li
            a(href="#start") Компания
          li
            a(href="#start") Контакты

      .lang
        a(href="#start") EN

      .text
        .first-line оборудование класса
        .second-line premium
        .third-line для автомоек самообслуживания
      .arrow.smoothScroll
        img(src="../pics/section.start.arrow.svg")

  .section.business#start
    .container
      .block
        .text.left
          .text-left.left-1 Мы не только <br> производим оборудование
          .text-left.left-2 Мы создаем бизнес
          .dash
        .text.right
          p Мы убеждены, что оборудование <br >для автомойки самообслуживания формирует бизнес в целом. Невозможно построить высококлассную автомойку самообслуживания, не уделив внимание самой услуге. Услуге во всех ее проявлениях.
          p Высококлассная автомойка самообслуживания — это не то место, где можно за плату воспользоваться простым аппаратом высокого давления и пылесосом.

  .section.new_level
    .container
      .block-text
        .text-item.item-1 Совершенно новый уровень <br> бизнеса автомоечного самообслуживания
        .text-item.item-2 Цивилизованный, удобный и красивый. Мы производим премиальный продукт в своем классе, создаем комфорт и удобство клиенту. Клиенту, которому всегда будет приятно, неверроятно просто, быстро и недорого ухаживать за своим автомобилем.
    img.cleaner-pic(src="../pics/section.new_level.cleaner.png")

  .section.four_programs
    .container
      .block.left
        .left.left-1 4
        .left.left-2
          .left-2-1 программы
          .left-2-2 и ничего лишнего

      .block.right
        .right-1 С самого начала компанию MagicClean вдохновляло желания взять невероятно популярные технологии, жидкостную и пенную, и объединить их в рамках одного оборудования. Мы задумали, разработали и создали линейку оборудования <strong>MagicClean CARWASH как абсолютно уникальное решение</strong>, давая возможность инвестору охватить весь рынок и удовлетворить спрос всех клиентов.
        .right-2
          p Технология на наших мойках бесконтактная. Но мы сделали это по-особенному.
          p По-особенному — это означает очень удобно, красиво, быстро и экономно. А если экономно, то это означает то, что люди будут чаще пользоваться такой услугой, ведь автомобили пачкаются всегда.

  .section.main_car_animation
    .container
      .block-program Первая программа

      .block-top
        .top-1
          p На этой программе клиент вправе выбрать, каким способом вымыть автомобиль.
          .button.btn1 Активная пена
          .button.btn2 Активный шампунь


      .caption Мойка


      .content
        .cleaner

        .car


      .block-bottom
        .title MagicActiveFoаm
        .text Благодаря свое густой формуле, словно взбитые сливки, пена равномерно ложится на всю поверхность автомобиля, превосходно отмывая все загрязнения, в том числе дорожную масляную пленку и следы от насекомых.

  .section.pause
    .container
      .center-cont
        .block.left
          .left-1
            p Одним из преимуществ нашей технологии мойки является клавиша
          .left-2 Стоп / пауза
          .button
            img(src="../pics/section.pause.btn.png")

        .block.right
          .right-1
            p Она позволяет клиенту ожидать реакции «Активной пены» на загрязнения, не теряя своих денежных средств.
            p Также это удобно, если пользователь забыл вытащить из автомобиля коврики и решил это сделать в процессе мытья. Такая приятная возможность привлекает больше клиентов.
          .right-2
            p Клавишей можно пользоваться как в сервисном режиме мойки, так и при аварийном отключении процесса мытья.




  .section.pults
    .container
      .blocks
        .block.main
          .main-1 Пульты <br> управления мойкой
          .main-2 Наши панели управления обладают привлекательным внешним видом и разнообразием функциональных возможностей. Понятный интерфейс по достоинсту оценили все пользователи автомоек MagicClean. Мы учли тот факт, что панели служат некой гранью между пользователем и всей системой оборудования, и уделили их созданию немало времени.

        .block.parts
          table.parts
            tr
              td
                .caption LED-подсветка
                p Обладает высокой яркостью
              td
                .caption Брендированная шапка
                p в цвет стиля фриза конструкции
            tr
              td
                .caption Интерактивные клавиши
                p С пыле- и влагозащитой
              td
                .caption Кнопка «Стоп / Пауза»
                p для более удобного использования
            tr
              td
                .caption Настраиваемый дисплей
                p Отображение времени или денег
              td
                .caption Вандалоустойчивый корпус
                p из нержавеющей стали
            tr
              td
                .caption Удобная система оплаты
                p Купюры, монеты, жетоны
              td
                .caption Система подогрева
                p пультов управления

    .block.cleaner
      img(src="../pics/section.pults.cleaner.png")


  .section.slideshow#slideshow
    .container#show-cont
      .block.text#show-text
        .title Наши усовершенствованные технологии

        .info
          .caption Интеллектуальная система управления и контроля InVision
          .text Партисипативное планирование оправдывает пул лояльных изданий.
          a.link Подробнее

      .block.show#slideshow_block
        .circle-ext
          .circle-int
            .slider
              .pic.pic-1
              .pic.pic-2
              .pic.pic-3
          .prev.btn
          .next.btn



  .section.video#trigger2
    .container
      .video
        <iframe width="917" height="516" src="https://www.youtube.com/embed/dQw4w9WgXcQ" frameborder="0" allowfullscreen></iframe>


  .section.request
    .container
      .block.main
        h1 Оборудование класса Premium
        p Вы можете оставить заявку на оборудование MagicClean Carwash или связаться с нами другим удобным для вас способом
        .button.btn1 Заказать
        .button.btn2 Посмотреть контакты

      .block.menu
        .menu.item
          img(src="../pics/section.request.circle.svg")
          p Бизнес-стратегия
        .menu.item
          img(src="../pics/section.request.circle.svg")
          p Этап строительства
        .menu.item
          img(src="../pics/section.request.circle.svg")
          p Комплект поставки


  .section.bottom_menu
    .menu
      .item
        p Аксессуары
      .item
        p Конструкции
      .item
        p Химия


  .section.footer
    .element.logo
      img(src="../pics/section.footer.logo.png")
    .element.contact
      .city Ростов-на-Дону
      .phone +7 (863) 226 47 04
    .element.contact
      .city Москва
      .phone +7 (495) 317 12 91
    .element.btn.catalog Скачать каталог
    .element.social
      a.item.fb(href="http://facebook.com")
        img(src="../pics/section.footer.social.fb.svg")
      a.item.vk(href="http://vk.com")
        img(src="../pics/section.footer.social.vk.svg")
      a.item.yt(href="http://youtube.com")
        img(src="../pics/section.footer.social.yt.svg")

