doctype html
head
  meta(name="viewport" content="width=device-width")

  link(rel="stylesheet" href="stylesheets/app.css")

  script(src="javascripts/vendor.js")
  script(src="javascripts/app.js")

  script.
    require('initialize');

body
  .section.start
    .container
      .text
        .first-line оборудование класса
        .second-line premium
        .third-line для автомоек самообслуживания
      a.arrow(href="#start")
        img(src="../pics/section.start.arrow.svg")

  .section.business#start
    .container
      .text-block
        .second-left
          .first-block Мы не только <br> производим оборудование
          .second-block Мы создаем бизнес
          .dash
        .second-right
          p Мы убеждены, что оборудование <br >для автомойки самообслуживания формирует бизнес в целом. Невозможно построить высококлассную автомойку самообслуживания, не уделив внимание самой услуге. Услуге во всех ее проявлениях.
          p Высококлассная автомойка самообслуживания — это не то место, где можно за плату воспользоваться простым аппаратом высокого давления и пылесосом.

  .section.new_level
    .container
      .text-block
        .block-1 Совершенно новый уровень <br> бизнеса автомоечного самообслуживания
        .block-2 Цивилизованный, удобный и красивый. Мы производим премиальный продукт в своем классе, создаем комфорт и удобство клиенту. Клиенту, которому всегда будет приятно, неверроятно просто, быстро и недорого ухаживать за своим автомобилем.
      img.cleaner-pic(src="../pics/section.new_level.cleaner.png")

  .section.four_programs
    .container
      .center-cont
        .block.left
          .left-1 4
          .left-2
            .left-2-1 программы
            .left-2-2 и ничего лишнего

        .block.right
          .right-1 С самого начала компанию MagicClean вдохновляло желания взять невероятно популярные технологии, жидкостную и пенную, и объединить их в рамках одного оборудования. Мы задумали, разработали и создали линейку оборудования <strong>MagicClean CARWASH как абсолютно уникальное решение</strong>, давая возможность инвестору охватить весь рынок и удовлетворить спрос всех клиентов.
          .right-2
            p Технология на наших мойках бесконтактная. Но мы сделали это по-особенному.
            p По-особенному — это означает очень удобно, красиво, быстро и экономно. А если экономно, то это означает то, что люди будут чаще пользоваться такой услугой, ведь автомобили пачкаются всегда.

  .section.main_car_animation
    .container
      .block-program Первая программа

      .block-top
        .top-1
          p На этой программе клиент вправе выбрать, каким способом вымыть автомобиль.
          .button.btn1 Активная пена
          .button.btn2 Активный шампунь


      .caption Мойка


      .content
        .cleaner

        .car


      .block-bottom
        .title MagicActiveFoаm
        .text Благодаря свое густой формуле, словно взбитые сливки, пена равномерно ложится на всю поверхность автомобиля, превосходно отмывая все загрязнения, в том числе дорожную масляную пленку и следы от насекомых.

  .section.pause
    .container
      .center-cont
        .block.left
          .left-1
            p Одним из преимуществ нашей технологии мойки является клавиша
          .left-2 Стоп / пауза
          .button
            img(src="../pics/section.pause.btn.png")

        .block.right
          .right-1
            p Она позволяет клиенту ожидать реакции «Активной пены» на загрязнения, не теряя своих денежных средств.
            p Также это удобно, если пользователь забыл вытащить из автомобиля коврики и решил это сделать в процессе мытья. Такая приятная возможность привлекает больше клиентов.
          .right-2
            p Клавишей можно пользоваться как в сервисном режиме мойке, так и при аварийном отключении процесса мытья.




  .section.pults
    .container
      .block.main
        .main-1 Пульты <br> управления мойкой
        .main-2 Наши панели управления обладают привлекательным внешним видом и разнообразием функциональных возможностей. Понятный интерфейс по достоинсту оценили все пользователи автомое MagicClean. Мы учли тот факт, что панели служат некой гранью между пользователем и всей системой оборудования, и уделили их созданию не мало времени.

      .block.parts
        table.parts
          tr
            td
              .caption LED-подсветка
              p Обладает высокой яркостью
            td
              .caption Брендированная шапка
              p в цвет стиля фриза конструкции
          tr
            td
              .caption Интерактивные клавиши
              p С пыле- и влагозащитой
            td
              .caption Кнопка «Стоп / Пауза»
              p для более удобного использования
          tr
            td
              .caption Настраиваемый дисплей
              p Отображение времени или денег
            td
              .caption Вандалоустойчивый корпус
              p из нержавеющей стали
          tr
            td
              .caption Удобная система оплаты
              p Купюры, монеты, жетоны
            td
              .caption Система подогрева
              p пультов управления

        .block.cleaner
          img(src=("../pics/section.pults.cleaner.png"))

  .section.slideshow
    .container
      .block.title Наши усовершенствованные технологии

      .block.info
        .caption Интеллектуальная система управления и контроля InVision
        .text Партисипативное планирование оправдывает пул лояльных изданий.
        a.link Подробнее


  .section.video
    .container
      .video
        <iframe width="917" height="516" src="https://www.youtube.com/embed/dQw4w9WgXcQ" frameborder="0" allowfullscreen></iframe>


  .section.request
    .container


  .section.bottom_menu
    .container


  .section.footer
    .container

